




<!DOCTYPE html>
<html>
<style>


body
{
margin-right:200px;

background-color:#b0c4de;
}

h1
{
    background-position:right top;
    color:rgb(255,255,255);
    font-size:50px;
}
</style>


<h1>Home</h1>
<p> My first website deployed on Heroku at 6/10/2013 at 10:30  </p>

<table>
  <tr>
    <th>Name</th>
    <th>Pass</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @logins.each do |login| %>
  <tr>
    <td><%= login.name %></td>
    <td><%= login.pass %></td>
    <td><%= link_to 'Show', login %></td>
    <td><%= link_to 'Edit', edit_login_path(login) %></td>
    <td><%= link_to 'Destroy', login, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Login', new_login_path %>

<p><%= Time.now%> </p>





<%= link_to "About Andrew Swenson", "home/aboutMe" %><br />

<br><br>
<%= image_tag("heroku.jpeg", :alt => "heroku image") %>
<%= image_tag("rails.png", :alt => "rails image") %>

</html>
