<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @login.name %>
</p>

<p>
  <b>Pass:</b>
  <%= @login.pass %>
</p>


<%= link_to 'Edit', edit_login_path(@login) %> |
<%= link_to 'Back', logins_path %>
